/* ThankYouMessage.css */
.thank-you-container {
    background-color: #ece4e4;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 120px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  
  .thank-you-container:hover {
    transform: scale(1.05);
  }
  
  .thank-you-heading {
    color: #333;
    font-size: 34px;
    transition: color 0.3s ease-in-out;
    margin-bottom: 10px;
  }
  
  .thank-you-container:hover .thank-you-heading {
    color: #756b65; /* Change color on hover */
  }
  
  .thank-you-text {
    color: #666;
    font-size: 26px;
    transition: color 0.3s ease-in-out;
    margin-bottom: 20px;
  }
  
  .thank-you-container:hover .thank-you-text {
    color: #444; /* Change color on hover */
  }
  
  .greeting-message {
    color: #007bff;
    font-size: 24px;
    margin-top: 20px;
    font-style: italic;
    opacity: 0;
    animation: fade-in 1s forwards 0.4s;
  }
  
  .soul{
    opacity: 0;
    animation: fade-in 1s forwards 0.4s;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(60px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .pays{
      display: flex;
      align-items: center;
      gap: 100px;
      padding: 20px;
      background-color: #ece4e4;
      border-radius: 10px;
      /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
      opacity: 0;
    animation: fade-in 1s forwards 0.5s;
  }
  
  
  .pays img {
    max-width: 100%;
    height: 220px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .pays img:hover {
    transform: scale(1.08);
  }
  
  .pays img::after {
    content: attr(alt);
    display: block;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    color: #555;
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
  }

  .soonn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    gap: 20px;
    padding: 20px;
    padding-left: 400px;
    background-color: #ece4e4;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */

  }

  .add{
    height: 45cm;
    width: 45cm;
  }